<% if data != nil %>
  <% data.each do |item| %>
    <div class="item">
      <p><%= item['name'] %> &emsp; (<%= item['hha_base'] %> points)</p>
    </div>
  <% end %>
<% else %>
  <div class="item">
    <h3>No search results! Try some different terms.</h3>
  </div>
<% end %>