<!doctype html>
<html lang=en>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> -->
    <meta charset=utf-8>
    <title>ACNH HHA Score Calculator</title>
  </head>

  <body>
  
    <nav class="topbar">
      <div class="logo"><a href="/">HHA Score Calculator</a></div>

      <ul class="nav-links">
        <div class="menu">
          
          <li><a href="/">Home</a></li>

          <li><a href="/search">Search</a></li>
          
          <li class="myhouse-dropdown">
            <a href="/myhouse">My House</a>
            <ul class="dropdown">
              <li><a href="/myhouse/mainroom">Main Room</a></li>
              <li><a href="/myhouse/leftroom">Left Room</a></li>
              <li><a href="/myhouse/rightroom">Right Room</a></li>
              <li><a href="/myhouse/backroom">Back Room</a></li>
              <li><a href="/myhouse/topfloor">Top Floor</a></li>
              <li><a href="/myhouse/basement">Basement</a></li>
            </ul>
          </li>

          <li><a href="/profile">[ICO]</a></li>

        </div>
      </ul>
    </nav>
    
    <div class="info">
      <h3>Search Filters</h3>
      <form class="search-filters" method="POST" action="/search">
        <table class="search-terms">
          <tr>
            <td><input type="checkbox" id="name-toggle" name="name-toggle" /></td>
            <td>Name:</td><td><input type="text" class="input-name" /></td>
            <td><input type="checkbox" id="concept-toggle" name="concept-toggle" /></td>
            <td>Concept:</td>
            <td>
              <select id="concept1" name="Concept 1" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
              <select id="concept1" name="Concept 2" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" id="kind-toggle" name="kind-toggle" /></td>
            <td>Kind:</td>
            <td>
              <select id="kind" name="Kind" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
            </td>
            <td><input type="checkbox" id="series-toggle" name="series-toggle" /></td>
            <td>Series:</td>
            <td>
              <select id="series" name="Series" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" id="size-toggle" name="size-toggle" /></td>
            <td>Size:</td>
            <td>
              <select id="size" name="Size" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
            </td>
            <td><input type="checkbox" id="set-toggle" name="set-toggle" /></td>
            <td>Set:</td>
            <td>
              <select id="set" name="Set" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" id="surface-toggle" name="surface-toggle" /></td>
            <td>Surface:</td>
            <td>
              <select id="surface" name="Surface" size="1">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </td>
            <td><input type="checkbox" id="category-toggle" name="category-toggle" /></td>
            <td>Category:</td>
            <td>
              <select id="category" name="Category" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><input type="checkbox" id="color-toggle" name="color-toggle" /></td>
            <td>Color:</td>
            <td>
              <select id="color1" name="Color 1" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
              <select id="color2" name="Color 2" size="1">
                <option value="val1">Value 1</option>
                <option value="val2">Value 2</option>
                <option value="val3">value 3</option>
              </select>
            </td>
            <td><input type="checkbox" id="points-toggle" name="points-toggle" /></td>
            <td>Points:</td>
            <td>
              <select id="sort-points" name="Sort Points" size="1">
                <option value="lohi">Lo-to-Hi</option>
                <option value="hilo">Hi-to-Lo</option>
              </select>
            </td>
          </tr>
        </table>
      </form>
    </div>

    <%= yield %>

    <div class="bottombar">
      <h3>&copy; jannapps</h3>
    </div>

  </body>
</html>