<td><input type="checkbox" id="t_color" name="t_color" /></td>
<td>Color:</td>
<td>
    <select id="color1" name="color1" size="1">
        <option value="" selected></option>
        <option value="val1">Value 1</option>
        <option value="val2">Value 2</option>
        <option value="val3">value 3</option>
    </select>
    <select id="color2" name="color2" size="1">
        <option value="" selected></option>
        <option value="val1">Value 1</option>
        <option value="val2">Value 2</option>
        <option value="val3">value 3</option>
    </select>
</td>
