<td><input type="checkbox" id="t_hha_series" name="t_hha_series" /></td>
<td>Series:</td>
<td>
    <select id="hha_series" name="hha_series" size="1">
        <option value="" selected></option>
        <option value="val1">Value 1</option>
        <option value="val2">Value 2</option>
        <option value="val3">value 3</option>
    </select>
</td>
