<td><input type="checkbox" id="t_hha_category" name="t_hha_category" /></td>
<td>Category:</td>
<td>
    <select id="hha_category" name="hha_category" size="1">
        <option value="" selected></option>
        <option value="val1">Value 1</option>
        <option value="val2">Value 2</option>
        <option value="val3">value 3</option>
    </select>
</td>
