<td><input type="checkbox" id="t_size" name="t_size" /></td>
<td>Size:</td>
<td>
    <select id="size" name="size" size="1">
        <option value="" selected></option>
        <option value="val1">Value 1</option>
        <option value="val2">Value 2</option>
        <option value="val3">value 3</option>
    </select>
</td>
