<td><input type="checkbox" id="t_surface" name="t_surface" /></td>
<td>Surface:</td>
<td>
    <select id="surface" name="surface" size="1">
        <option value="" selected></option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
</td>
